@import "src/styles/index";

.nft-detail-price {
    margin-bottom: 1rem;

    @include for-size(tablet-landscape-up) {
        padding: var(--page-padding);
    }

    &__sub-title {
        margin-top: .5rem;
        font-size: .75rem;
        font-weight: var(--fw-400);

        @include for-size(tablet-portrait-up) {
            font-size: 1rem;
        }
    }
}
