@import "src/styles/index";

.nft-detail-sale-info {
    margin-bottom: 1.5rem;

    @include for-size(tablet-portrait-up) {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    &__price {
        font-family: var(--f-mono);
        font-size: 1rem;
        font-weight: var(--fw-400);

        @include for-size(tablet-portrait-up) {
            font-size: 2rem;
        }
    }

    &__expiry {
        margin-top: .25rem;
        font-size: .875rem;
        font-weight: var(--fw-400);
        color: var(--c-text-grey);

        @include for-size(tablet-portrait-up) {
            margin-top: .375rem;
        }
    }

    &__expiry-date {
        margin-left: .3125rem;
        font-size: .875rem;
        font-weight: var(--fw-700);
        color: var(--c-white);
    }
}
