@import "src/styles/index";

.nft-detail-main-info {

    @include for-size(tablet-portrait-up) {
        margin-top: 2.5rem;
    }

    &__owner {
        display: flex;
        font-size: .75rem; // Target 12px
        margin-bottom: 2em;

        @include for-size(desktop-up) {
            font-size: 1rem; // Target 16px
        }
    }

    &__owner-label {
        width: fit-content;
        color: var(--c-text-grey);
    }
    
    &__owner-name {
        @extend %external-link;

        width: fit-content;
    }

    
}
