@import "src/styles/index";

.nft-detail-main-info {
    &__owner {
        color: var(--c-text-grey);
        font-size: .8rem;
        margin-bottom: 1.5rem;
    }

    @include for-size(tablet-landscape-up) {
        padding: var(--page-padding);
    }
}
