@import "src/styles/index";

.collection-widget {

    &__portrait {
        width: 100%;
        min-height: 15rem;
        max-height: 25rem;
        aspect-ratio: 1.5;

        @include for-size(phone-only) {
            aspect-ratio: 3;
        }

        @include for-size(tablet-portrait-up) {
            aspect-ratio: 2;
        }
    }

    &__proceed-button {
        @extend %button--is-primary;

        width: 100%;
    }
}

.nft-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    justify-items: center;
    row-gap: 1.5rem;
    margin: 1.5rem;
}

.status {
    @extend %flex-align-center; 
    width: 100%;
    height: 19rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--c-white);
}

.loading {
    @extend %flex-align-center; 
    width:100%;
    height: 8rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--c-white);
}
