@import "src/styles/index";

.collection-widget {

    &__portrait {
        width: 100%;
        min-height: 15rem;
        max-height: 25rem;
        aspect-ratio: 1.5;

        @include for-size(phone-only) {
            aspect-ratio: 3;
        }

        @include for-size(tablet-portrait-up) {
            aspect-ratio: 2;
        }
    }

    &__content,
    &__subtitle,
    &__nfts-container {
        margin-top: 1.5rem;

        @include for-size(desktop-up) {
            margin-top: 2rem;
        }
    }

    &__content {
        padding: 0 var(--page-padding);

        @media (min-width: 1160px) {
            padding: 0;
        }
    }

    &__search-input {
        max-width: 23.5rem;

        @include for-size(phone-only) {
            max-width: 100%;
        }
    }

    &__subtitle {
        justify-self: start;
        font-weight: var(--fw-700);
        font-size: 1rem;

        @include for-size(desktop-up) {
            font-size: 1.25rem;
        }
    }

    &__filter-button {
        justify-self: end;
    }

    &__nfts-container {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @include for-size(phone-only) {
            grid-template-columns: 1fr 1fr;
            gap: .875rem;
        }

        @include for-size(tablet-portrait-up) {
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;
        }

        @include for-size(tablet-landscape-up) {
            grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
            column-gap: 1.5rem;
            row-gap: 4.625rem;
        }
    }

    &__loader {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        color: var(--c-white);
    }
}

