@import "src/styles/index";

.nft-detail-attribute-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background: #1A1E25;
    border-radius: 4px;
    @include for-size(tablet-portrait-up) {
        font-size: 1rem;
    }
    @include for-size(tablet-landscape-up) {
        padding: var(--page-padding);
    }

    &__label {
        color: #9EA3AC;
        font-size: .75rem;
        font-weight: var(--fw-400);
    }

    &__value {
        font-size: .75rem;
        font-weight: var(--fw-700);
    }

}
