@import "../../styles/index";

$component: top-bar;

.#{$component} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    position: relative;
    z-index: 1;

    &__menu-button,
    &__airswap-button {
        height: 2rem;
        aspect-ratio: 1;
        color: var(--c-white);
    }

    &__menu-button {
        position: absolute;
        left: calc(50% - 1rem);
    }

    &__close-icon {
        width: .875rem;
    }

    &__mobile {
        background: transparent;
        animation: mobile-in ease-in-out 0.5s forwards;
    }
    &__desktop {
        background: var(--c-grey);
        animation: mobile-out ease-in-out 0.5s forwards;
    }

    .#{$component}__list-button  {
        border: 1px solid var(--c-light-grey);
        border-radius: .25rem;
        height: 100%;
        padding: 0 .75rem;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: var(--fw-700);
        color: var(--c-white);
    }

    &__list-button-icon {
        width: 0.75rem;
        height: 0.75rem;
    }
}

@keyframes mobile-in {
    from {
        background: var(--c-grey);
    }
    to {
        background: transparent;
    }
}

// have to find a way to activate this keyframes on click of the close icons
@keyframes mobile-out {
    from {
        background: transparent;
    }
    to {
        background: var(--c-grey);
    }
}
