@import "src/styles/index";

$component: top-bar;

.#{$component} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--top-bar-height);
    padding: 0.5rem;
    background: var(--c-grey);

    @include for-size(tablet-portrait-up) {
        height: var(--desktop-top-bar-height);
        padding: 0 var(--page-padding);
        background: none;

        &__menu-button {
            display: none;
        }

        .#{$component}__airswap-button {
            height: 3rem;
        }

        .#{$component}__list-button  {
            border-color: var(--c-grey);
            height: 2.5rem;
            font-size: .9375rem;
        }
    }

    &__menu-button,
    &__airswap-button {
        height: 2rem;
        aspect-ratio: 1;
        color: var(--c-white);
    }

    &__menu-button {
        position: absolute;
        left: calc(50% - 1rem);
    }

    &__list-button  {
        border: 1px solid var(--c-light-grey);
        border-radius: .25rem;
        height: 100%;
        padding: 0 .75rem;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: var(--fw-700);
        color: var(--c-white);

        &:focus {
            border: 1px solid var(--c-primary);
        }
    }

    &__list-button-icon {
        width: 0.75rem;
        height: 0.75rem;
    }
}
