.container {
    width: 100vw;
    height: calc(100vh - 3rem);
    position: absolute;
    left: 0;
    top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--c-black);
    animation: fly-in-top ease-in-out 0.5s forwards;
    font-weight: var(--fw-700);
    
    &--fly-out {
        animation: fly-out-top ease-in-out 0.5s forwards;
    }
    div {
        padding-top: 2.5rem;
        padding-left: 1rem;
    }
}

@keyframes fly-in-top {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fly-out-top {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}