@import "src/styles/index";

.nft-detail-widget {
	&__activity {
		border: .1rem #696969 solid;
		padding: 1rem;
		display: flex;
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
		p {
			margin-left: 1rem;
		}
	}
}