@import "../mixins";

// For some pages we have a widget cover another widget, like BuyNftWidget in front of NftDetailWidget,
// or ListNftWidget in front of ProfileWidget

$widget-width: 19.5rem;

%widget-over-widget {
    width: 100%;
    min-height: calc(100svh - var(--top-bar-height) - var(--page-padding) * 2);

    @include for-size(tablet-portrait-up) {
        min-height: 34.125rem;
    }
}

%widget-under-widget {
    display: none;

    @include for-size(tablet-portrait-up) {
        display: block;
        position: absolute;
        width: calc(100% - var(--page-padding) * 2);
        overflow: hidden;
    }
}

%widget-over-widget-cover {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

%widget-over-widget-container {
    margin: 0 auto;
    width: 100%;
    max-width: #{$widget-width};
    height: 100%;
    z-index: 3;
    background: var(--c-black);

    @include for-size(tablet-portrait-up) {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: calc(#{$widget-width} + var(--page-padding) * 2);
        min-height: calc(100svh - var(--desktop-top-bar-height) - var(--page-padding) * 2);
        background: none;
    }
}
