@import "src/styles/index";

.activity-list-container {

    @include for-size(tablet-portrait-up) {
        border: 1px solid var(--c-dark-border);
        border-radius: .25rem;
        padding: 1.5rem;
    }

    &__scroller {
        @extend %scrollbar;

        max-height: 13.5rem;
        overflow-y: auto;
    }

    &__items-list {
        @extend %scrollbar;
    }

    &__loading-spinner,
    &__end-of-list {
        order: 1;
        margin: .75rem auto 0;
        width: 2.5rem;
        height: 2.5rem;
    }

    &__end-of-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__airswap-icon {
        margin: 0 auto;
        width: 1.5rem;
        height: 1.5rem;
        color: var(--c-white);
        opacity: .5;
    }
}
