@import "src/styles";

$page-width: 19.5rem;

.buy-nft-page {

    &__buy-nft-widget-container {
        margin: 0 auto;
        width: 100%;
        max-width: #{$page-width};
        height: 100%;

        @include for-size(tablet-portrait-up) {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: calc(#{$page-width} + var(--page-padding) * 2);
            min-height: calc(100svh - var(--desktop-top-bar-height) - var(--page-padding) * 2);
        }
    }

    &__buy-nft-widget {
        width: 100%;
        min-height: calc(100svh - var(--top-bar-height) - var(--page-padding) * 2);

        @include for-size(tablet-portrait-up) {
            min-height: fit-content;
        }
    }
}
