@import "src/styles/index";

$component: user-popup;

.#{$component} {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 2%;
    border: 1px solid var(--c-dark-border);
    border-radius: .25rem;
    width: 274px;
    padding: 0.5rem;
    background: var(--c-dark);

    @include for-size(tablet-portrait-up) {
        display: flex;
    }

    &__address-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        border: 1px solid var(--c-dark-border);
        border-radius: .25rem;
        padding: 1rem;
        color: var(--c-white);
        z-index: 1;
    }

    &__address-primary {
        font-weight: var(--fw-700);
    }

    &__address-secondary {
        font-size: 0.75rem;
        font-weight: var(--fw-400);
    }

    &__logout-button {
        border: none;
        color: var(--c-white);

        &:focus {
            border: none;
        }
    }

    &__nav-link {
        padding: 0.25rem 0 0.3rem 1.25rem;
        color: var(--c-text-grey);
        font-weight: var(--fw-400);
        z-index: 1;

        &:hover {
            border-radius: .25rem;
            font-weight: var(--fw-500);
            color: var(--c-white);
            background-color: var(--c-grey);
        }
    }
}