@import "src/styles/index";

$component: user-popup;

.#{$component} {
    position: absolute;
    left: 80%;
    width: 274px;
    background: var(--c-dark);
    border: 1px solid var(--c-dark-border);
    border-radius: .25rem;
    padding: 0.5rem;

    &__address-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--c-white);
        border: 1px solid var(--c-dark-border);
        padding: 1rem;
        border-radius: .25rem;
        margin-bottom: 0.5rem;
    }

    &__address-primary {
        font-weight: var(--fw-700);
    }

    &__address-secondary {
        font-size: 0.75rem;
        font-weight: var(--fw-400);
    }

    &__logout-button {
        color: var(--c-white);
        border: none;

        &:focus {
            border: none;
        }
    }

    &__profile-link {
        border-radius: .25rem;
        padding: 0.25rem 0 0.3rem 1.25rem;
        background-color: var(--c-grey);
        font-weight: var(--fw-500);
        color: var(--c-white)
    }

    &__nav-link {
        color: var(--c-text-grey);
        font-weight: var(--fw-400);
        border-radius: .25rem;
        padding: 0.25rem 0 0.3rem 1.25rem;
        cursor: pointer;
    }
}