@import "src/styles";

.orders-container {
    padding-bottom: var(--page-padding);

    @include for-size(tablet-portrait-up) {
        display: flex;
        gap: 1.5rem;
    }

    &__filters {
        width: 100%;

        @include for-size(tablet-portrait-up) {
            width: 35%;
            max-width: 16.625rem;
        }
    }

    &__orders-wrapper {
        width: 100%;
    }

    &__orders-title {
        height: 3rem;
        line-height: 2.5;
        font-weight: var(--fw-700);
        font-size: 1.125rem;

        @include for-size(desktop-up) {
            height: unset;
            line-height: unset;
            font-size: 1.25rem;
        }
    }

    &__orders {
        @extend %nfts-3-col-grid;

        margin-block-start: 1.75rem;
    }

    &__empty-state {
        margin: 5rem auto 0;
    }

    &__loading-spinner {
        margin: 1rem auto 0;
    }

    &__end-of-orders-icon-wrapper {
        display: flex;
        margin: 2rem auto 0;
        width: 2rem;
        aspect-ratio: 1;
    }

    &__end-of-orders-icon {
        min-width: 1.75rem;
        min-height: 1.75rem;
        color: var(--c-white);
        opacity: 0.5;
    }
}
