@import "src/styles/index";

.collection-page {

    &__content {
        padding: 0;
    }
}

.nft-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    justify-items: center;
    row-gap: 1.5rem;
    margin: 1.5rem;
}
