@import "src/styles/index";

.collection-page {

    &__content {
        padding: 0;
    }
}

.nft-list {
    display: grid;
    row-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    margin: 24px;
    justify-items: center;
}
