@import "src/styles/index";

.nft-detail-widget {
    position: relative;

    &__portrait {
        aspect-ratio: 1.5;
        max-height: 25rem;

        @include for-size(phone-only) {
            aspect-ratio: 1;
        }

        @include for-size(tablet-landscape-up) {
            aspect-ratio: 1;
        }
    }

    &__attributes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75em;
    }

    &__proceed-button {
        @extend %button--is-primary;

        position: fixed;
        bottom: calc(env(safe-area-inset-bottom) + var(--page-padding));
        width: calc(100% - var(--page-padding) * 2);

        @include for-size(tablet-landscape-up) {
            position: relative;
            width: 75%;
            bottom: auto;
        }
    }

    @include for-size(tablet-landscape-up) {
        display: grid;
        grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end];
        grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [row2-end row3-start] 1fr [row3-end];

        grid-template-areas:
            "image header"
            "image accordians"
            "details accordians";

        &__main-info {
            grid-area: header;
        }

        &__portrait {
            grid-area: image;
        }

        &__sales-meta {
            grid-area: accordians;
            display: flex;
            flex-direction: column-reverse;
            padding: var(--page-padding);
            justify-content: flex-end;
        }

        &__details {
            grid-area: details;
        }

    }
}
