@import "src/styles/index";

.nft-detail-widget {

    &__desktop-view {
        display: none;
        @include for-size(desktop-up) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__mobile-view {
        @include for-size(desktop-up) {
            display: none;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 0 47.5%;
    }
}
