@import "src/styles/index";

.nft-detail-widget {
    position: relative;

    &__top {

        @include for-size(tablet-landscape-up) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__portrait,
    &__main-info {
        width: 100%;

        @include for-size(tablet-landscape-up) {
            width: calc(50% - 1rem);
        }
    }

    &__portrait {
        margin-top: 1rem;
        aspect-ratio: 1.5;
        max-height: 25rem;

        @include for-size(phone-only) {
            aspect-ratio: 1;
        }

        @include for-size(tablet-landscape-up) {
            aspect-ratio: 1;
        }
    }

    &__attributes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75em;
    }

    &__proceed-button {
        @extend %button--is-primary;

        position: fixed;
        bottom: calc(env(safe-area-inset-bottom) + var(--page-padding));
        width: calc(100% - var(--page-padding) * 2);

        @include for-size(tablet-landscape-up) {
            display: none;
        }
    }
}
