@import "src/styles/index";

.nft-detail-widget {

    &__desktop-view {
        display: none;
        @include for-size(desktop-up) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__mobile-view {
        @include for-size(desktop-up) {
            display: none;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 0 47.5%;
    }

    &__meta-container {
        margin-bottom: 2rem;
    }

    &__meta-container-label {
        color: var(--c-light-grey);
        margin-bottom: .75rem;
        font-weight: var(--fw-700);
        font-size: 1.125rem;
    }
}
