@import "src/styles/index";

.profile-widget {

    &__button-group-container {
        margin-top: 1.625rem;

        @include for-size(phone-only) {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }

        @include for-size(desktop-up) {
            display: flex;
            justify-content: center;
        }
    }

    &__button-group {
        display: flex;

        @include for-size(desktop-up) {
            width: 19.5rem;
            margin-top: -2.5rem;
        }
    }

    &__button-group__button {
        @extend %button-border-style;

        border: solid 1px var(--c-grey);
        margin-left: -1px;
        width: -webkit-fill-available;
        height: 2rem;
        font-weight: 700;
        font-size: .75rem;
        line-height: 1.5rem;
        color: var(--c-light-grey);
        background: var(--c-dark);
        z-index: 1;

        &:focus {
            z-index: 2;
        }

        &:first-child {
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        &:last-child {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        &--is-active {
            background-color: var(--c-grey);
            color: #fff;
        }

        &--is-uppercase {
            text-transform: uppercase;
        }
        
        &:disabled {
            opacity: 1;
        }
    }

    &__search-input {
        max-width: 23.5rem;
        margin: 1rem 0 3rem;

        @include for-size(phone-only) {
            max-width: 100%;
        }
    }

    &__content {

        @include for-size(phone-only) {
            padding: 0 var(--page-padding);
        }
    }

    &__nfts-container {
        @extend %nfts-grid;
    }

}
