@import "src/styles";

.cancel-order-widget-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        font-size: .875rem;
        color: var(--c-text-grey);
    }

    &__info-icon {
        margin-right: 1rem;
        line-height: 1.25;
        min-width: 1.5rem;
        min-height: 1.5rem;
        font-size: .875rem;
    }

    &__review-nft-details {
        margin-top: 1.5rem;
    }
}