@import "src/styles/index";

.nft-card {
    @extend %nft-card;

    &--is-highlighted {
        @extend %nft-card--is-highlighted;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
    }

    &__balance,
    &__label {
        border-radius: 2.5rem;
        line-height: 1.4;
        padding: .25rem .75rem;
        font-size: .75rem;
        background: var(--c-primary);
    }

    &__label {
        @extend %text-ellipsis;

        font-weight: var(--fw-700);
        text-transform: uppercase;
    }

    &__balance {
        justify-self: flex-end;
        margin-left: auto;
        border-radius: .375rem;
        padding-inline: .5rem;
        color: var(--c-white);
        background: var(--c-dark-border);
    }

    &__info-wrapper {
        @extend %nft-card-info-wrapper;
    }

    &__name,
    &__price {
        @extend %text-ellipsis;

        line-height: 1.25;
    }

    &__name {
        @extend %nft-card-name;
    }

    &__price {
        @extend %nft-card-price;
    }

    &__expiry {
        @extend %nft-card-date;
    }
}
