@import "src/styles/index";

.nft-card {
    @extend %nft-card;

    &__img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    &__info-wrapper {
        @extend %nft-card-info-wrapper;
    }

    &__name,
    &__price {
        @extend %text-ellipsis;
    }

    &__name {
        @extend %nft-card-name;
    }

    &__price {
        @extend %nft-card-price;
    }
}
