@import "src/styles/index";

.nft-card {
    @extend %nft-card;

    &--is-highlighted {
        @extend %nft-card--is-highlighted;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    &__label {
        @extend %text-ellipsis;

        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: 2.5rem;
        line-height: 1.5;
        max-width: calc(100% - 2rem);
        padding: .125rem .75rem;
        font-size: .75rem;
        font-weight: var(--fw-700);
        text-transform: uppercase;
        background: var(--c-primary);
    }

    &__info-wrapper {
        @extend %nft-card-info-wrapper;
    }

    &__name,
    &__price {
        @extend %text-ellipsis;

        line-height: 1.25;
    }

    &__name {
        @extend %nft-card-name;
    }

    &__price {
        @extend %nft-card-price;
    }
}
