@import "../../styles/index";

.page {
    position: relative;
    margin: 0 auto;
    max-width: var(--page-max-width);
    z-index: 100;

    &__top-bar {
        z-index: 3;
    }

    &__mobile-menu {
        position: fixed;
        left: 0;
        top: var(--top-bar-height);
        width: 100vw;
        height: calc(100svh - var(--top-bar-height));
        z-index: 2;

        @include for-size(tablet-portrait-up) {
            display: none;
        }
    }

    &__content {
        position: relative;
        padding: var(--page-padding);
    }

    &__wallet-connector {
        position: absolute;
        top: var(--top-bar-height);
        left: 0;
        width: 100%;
        height: calc(100svh - var(--top-bar-height));
        min-height: 100%;
        z-index: 1;
        overflow-y: auto;

        @include for-size(tablet-portrait-up) {
            top: var(--desktop-top-bar-height);
            height: calc(100svh - var(--desktop-top-bar-height));
        }
    }
}
