@import "../../styles/index";

$component: page;

.#{$component} {
    position: relative;
    margin: 0 auto;
    max-width: var(--page-max-width);
    z-index: 100;

    &--show-wallet-connector .#{$component}__wallet-connector {
        visibility: visible;
        pointer-events: visible;
    }

    &__top-bar {
        z-index: 3;
    }

    &__mobile-menu {
        position: fixed;
        left: 0;
        top: var(--top-bar-height);
        width: 100vw;
        height: calc(100svh - var(--top-bar-height));
        z-index: 3;

        @include for-size(tablet-portrait-up) {
            display: none;
        }
    }

    &__content {
        position: relative;
        padding: var(--page-padding);
    }

    &__wallet-connector {
        position: absolute;
        top: var(--top-bar-height);
        left: 0;
        width: 100%;
        height: calc(100svh - var(--top-bar-height));
        min-height: 100%;
        z-index: 2;
        overflow-y: auto;
        visibility: hidden;
        pointer-events: none;

        @include for-size(tablet-portrait-up) {
            position: fixed;
            top: 0;
            height: calc(100svh - var(--top-bar-height));
            padding-top: var(--top-bar-height);
            z-index: 3;
            backdrop-filter: blur(3px);
        }
    }

    &__connect-wallet-button {
        @extend %button--is-primary;

        position: fixed;
        width: calc(100% - var(--page-padding) * 2);
        left: var(--page-padding);
        top: calc(100svh - 3rem - var(--page-padding));

        @include for-size(tablet-portrait-up) {
            display: none;
        }
    }
}
