@import "src/styles/index";

.accordion {
    &__header {
        display: flex;
        font-size: .9rem;
        font-weight: var(--fw-700);
        padding-bottom: .75rem;
    }

    &__label,
    &__state-indicator {
        color: var(--c-light-grey);
    }

    &__label {
        padding-right: .5rem;
    }

    &__state-indicator {
        display: flex;
        align-items: center;
        transition: transform .3s ease-out;
        transform-origin: center;

        @include for-size(tablet-landscape-up) {
            display: none;
        }
    }

    &__content {
        height: 0;
        transition: height .3s;
        overflow: hidden;
        will-change: transform;

        @include for-size(tablet-landscape-up) {
            height: 100%;
        }

        &--is-open {
            height: 100%;
        }
    }
}
