@import "src/styles/index";

.desktop-nav {
    display: flex;
    align-items: center;
    height: 100%;

    &__link {
        @extend %button-border-style;

        padding: .75rem;
        font-size: .75rem;
        font-weight: var(--fw-700);
        text-transform: uppercase;

        & + & {
            margin-left: .25rem;
        }
    }
}
