.wallet-info {
  display: flex;
  align-items: center;

  &--is-menu {
    background-color: var(--c-grey);
    border: 1px solid var(--c-dark-border);
    border-radius: .3125rem;
  }
  &--is-banner {
    background-color: transparent;
  }
  &--padding {
    padding: 1rem;
  }
   
  &__img { 
    min-width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gray; //temp css, replace later by a generate img from address
  }
  &__address {
    margin-left: 0.875rem;
    flex-grow: 1;
    font-weight: var(--fw-700);
  }
  
  &__icon {
    color: var(--c-white);
    height: 1.125rem;
  }
}