.wallet-info {
  &--is-menu {
    background-color: var(--c-grey);
    border: .06rem solid var(--c-dark-border);
    border-radius: .3rem;
  }
  &--is-banner {
    background-color: transparent;
  }
  &--padding {
    padding: 1rem;
  }
  display: flex;
  align-items: center;
  span {
    margin-left: 0.875rem;
    flex-grow: 1;
    font-weight: var(--fw-700);
  }
  &__icon {
    color: var(--c-white);
    height: 1.125rem;
  }
}