@import "src/styles/index";

.nft-detail-accordian {

    &__header {
        display: flex;
        font-size: .9rem;
        font-weight: var(--fw-700);
        padding-bottom: .75rem

    }

    &__label, &__state-indicator{
        color: var(--c-light-grey);
    }
    
    &__label {
        padding-right: .5rem;
    }
    
    &__state-indicator {
        transition: transform .3s ease-out;
        transform-origin: center;
    }

    &__content {
        height: 0;
        transition: height .3s;
        overflow: hidden;
        will-change: transform;

        &--is-open {
            height: 100%;
        }
    }
}
