@import "src/styles/index";

.nft-detail-accordian {

    &__header {
        display: flex;
        font-size: .75rem;
        font-weight: var(--fw-700);
        padding: 1rem 0 .5rem;

        p {
            color: #9EA3AC;
        }
    }
    
    &__header-label {
        padding-right: .5rem;
    }
    
    &__state-indicator {
        transition: transform .3s ease-out;
        line-height: 2rem;
        margin-top: -0.5rem;
    }

    &__content {
        height: 0;
        transition: height .3s;
        overflow: hidden;
        will-change: auto;

        &--is-open {
            height: 100%;
        }
    }
}
